# Logging
LOG_LEVEL=INFO

# Proxmox Configuration
PROXMOX_HOST=PVE_HOST
PROXMOX_NODE=PVE_NAME
PROXMOX_TOKEN_USER=svc-wake@pve
PROXMOX_TOKEN_ID=wake
PROXMOX_TOKEN_VALUE=PVE_TOKEN
#PROXMOX_TOKEN_VALUE_FILE=/opt/wake_lxc_middleware/token
PROXMOX_VERIFY_TLS=false

BIND_HOST=0.0.0.0
BIND_PORT=8080
WAKE_DOMAIN=THIS_LXC_DOMAIN

# optional
CONFIG_PATH=/opt/wake_lxc_middleware/config.yaml
STATE_FILE=/opt/wake_lxc_middleware/state.json



